<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AJAX-MEME-TUBE</title>
  <link rel='stylesheet' href='/style.css'>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <h1> MEME-TUBE-AJAX </h1>
  
</body>
</html>