<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AJAX-MEME-TUBE</title>
  <link rel='stylesheet' href='/style.css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <h1> MEME-TUBE-AJAX </h1>

  <div id='memetube-ajax'>
      <%= yield %>
  </div>

<div id="videos-ajax">
</div>
  
</body>
</html>