

body{
  background-color: darkgrey;
  text-align: center;
  color: white;
  font-family: 'Inconsolata', ;
}

h1 {
  display: inline-block;
  padding: 20px;
  background-color: black;
  color: white;
}

iframe{
  margin: 10px;
}
.entry-form {
  background-color: pink;
  display: inline-block;
  padding: 10px;

}
div {
  text-align: center;
}

#videos-ajax {
  margin: 20px;

}
