body{
  background-color: lavender;
  text-align: center;
}

h1 {
  background-color: black;
  color: white;
}

iframe{
  margin: 10px;
}

div {
  text-align: center;
}

#videos-ajax {
  margin: 20px;

}